/* Booking.css */

.slide-in-left {
    animation: slideFromLeft 1s ease-out forwards;
  }
  
  .slide-in-right {
    animation: slideFromRight 1s ease-out forwards;
  }
  
  @keyframes slideFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  